# Titanic Machine Learning Learning

##### Im gonna use this document to test out a bunch of different models and It might become very long. I Dont intend on re-writing anything so I can go back and look at how I got there.

# # Loading in python packages

In [2]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pyspark
!{sys.executable} -m pip install sklearn

Requirement already satisfied: pandas in /home/tuffdog8989/.local/lib/python3.8/site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /home/tuffdog8989/.local/lib/python3.8/site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Requirement already satisfied: numpy in /home/tuffdog8989/.local/lib/python3.8/site-packages (1.23.2)
Requirement already satisfied: pyspark in /home/tuffdog8989/.local/lib/python3.8/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: sklearn in /home/tuffdog8989/.local/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/tuffdog8989/.local/lib/python3.8/site-packages (from sklearn) (1.1.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in /home/tuffdog8989/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.23.2)

In [32]:
import pandas as pd
import numpy as np
import pyspark as spark # Not used yet but here so I can play with it some
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

# #Importing Data Sets

In [4]:
df_gender = pd.read_csv('gender_submission.csv')
df_gender.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [5]:
df_train = pd.read_csv('train.csv')
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_test = pd.read_csv('test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Random Forest Classifier

### This is me working through the tutorial provided by Alexis Cook on Kaggle

#### https://www.kaggle.com/code/alexisbcook/titanic-tutorial

In [7]:
#Splitting the data into varibales to assign to a formula

y = df_train["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
x = pd.get_dummies(df_train[features])
X_test = pd.get_dummies(df_test[features])

In [8]:
# Building the Model

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x,y)
predictions = model.predict(X_test)

In [10]:
#Getting the output

output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your Submission was successfully saved!")

Your Submission was successfully saved!

In [11]:
# Printing out what was saved
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

##The scored provided by Kaggle came out to be 0.77511

# Random Forest Classifier (again but with more features)

In [24]:
# Found that some values are NaN and need to be adusted so
df_train = df_train.fillna(0)
df_test = df_test.fillna(0)

In [26]:
#Splitting the data into varibales to assign to a formula

y = df_train["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Age", "Fare"]
x = pd.get_dummies(df_train[features])
X_test = pd.get_dummies(df_test[features])

In [27]:
# Building the Model

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x,y)
predictions = model.predict(X_test)

In [28]:
#Getting the output

output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your Submission was successfully saved!")

Your Submission was successfully saved!

In [30]:
#Displaying output again
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

### Score is 0.77990 which is an improvement from the 0.77511

# Trying a different classifier: SVM

#I am going to be using the same variables above instead of restating it every time. This way I can see how the different models work on the same data. Heavy influence from the SKlearn webpage about SVM.

In [34]:
clf = svm.SVC()
clf.fit(x,y)

SVC()

In [35]:
predictions = clf.predict(X_test)

In [36]:
#Getting the output

output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your Submission was successfully saved!")

Your Submission was successfully saved!

In [37]:
#Getting the head output here
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

##### Score went down to 0.66746 ---> Some tuning might be needed here